button {
    background-color: #C66A3F;
    color: #F4EDE1;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 14px;

}

input {
    border: 2px solid #C66A3F;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    margin: 10px 0;
}
