@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


h1 {
    color: #C66A3F;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #C66A3F;
    font-family: 'Poppins', sans-serif; 
}

h3 {
    color: #C66A3F;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
