body {
    margin: 0;
    padding: 0;
    background-color: #F4EDE1;
}

.headerDiv {
    width: 100%;
    background-color: #FFFFFF;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

